<!-- IF S_SHOW_HDR_FTR -->
<!-- INCLUDE overall_header.html -->


<!-- Section preserved to break out of the header DIV in phpBB3's prosilver theme. 
	If you use a different theme you may want to modify this -->
			<!--	</div> -->
					
					
<!-- ************************************************************ 
	phpBB and WordPress have been glued together using the 
	WP-UNITED WordPress Integration Mod from www.wp-united.com
	
	Please ensure you have a link back to www.wp-united.com if you can!
	************************************************************* -->				

<!-- ENDIF -->
{WORDPRESS_BODY}


<!-- IF S_SHOW_HDR_FTR -->
<!-- Section preserved to add back the open DIV for phpBB's prosilver theme. 
	If you use a different theme you may want to modify this -->
	<!-- <div> -->

<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->
