/* temp stylesheet links until we can sort out proper way...*/ 

.wpunavbar, .wpunavbar * {
    box-shadow: none;
    clear: none;
    float: none;
    font-family: inherit;
    height: auto;
    letter-spacing: normal;
    line-height: inherit;
    position: static;
    text-decoration: none;
    text-shadow: none;
	color: inherit;
    font-size: inherit;
    font-weight: inherit;
	text-align: inherit;
}

.wpunavbar {
	background-color: #CADCEB;
	padding: 0 10px;
	margin: 0;
	border: 0 none;
    display: block;
	width: 100%;
}

.wpunavbar a{
    color: #105289;
}

.wpunavbar ul {
	list-style: none outside none;
	border-bottom-color: #FFFFFF;
}

.wpunavbar .wpunavinner {
	margin: 0;
	padding: 0;
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	display: block;
}

.wpucorners-top, .wpucorners-bottom, span.wpucorners-top span, span.wpucorners-bottom span {
	margin: 0 -10px;
	background-repeat: no-repeat;
    display: block;
    font-size: 1px;
    height: 5px;
    line-height: 1px;
}

.wpucorners-top {
	background-image: url("../../../../../phpbb/styles/prosilver/theme/images/corners_left.png");
	background-position: 0 0;
}

span.wpucorners-top span {
    background-image: url("../../../../../phpbb/styles/prosilver/theme/images/corners_right.png");	
    background-position: 100% 0;
}

.wpucorners-bottom {
	background-image: url("../../../../../phpbb/styles/prosilver/theme/images/corners_left.png");
	background-position: 100% 100%;
	clear: both;
}

span.wpucorners-bottom span {
    background-image: url("../../../.././phpbb/styles/prosilver/theme/images/corners_right.png");
	background-position: 100% 100%;
}


.wpunavlinks {
	font-weight: bold;
    margin-bottom: 1px;
    padding-bottom: 1px;
}
	
.wpulinklist {
	height: 4%;
	overflow: hidden;
	display: block;
}

.wpunavlinks li {
    display: block;
    float: left;
    font-size: 1.1em;
    line-height: 2.2em;
    list-style-type: none;
    margin-right: 5px;
    width: auto;
}

.wpuicon-home {
    background-image: url("../../../../../phpbb/styles/prosilver/theme/images/icon_home.gif");
}
.wpuicon-ucp {
    background-image: url("../../../../../phpbb/styles/prosilver/theme/images/icon_ucp.gif");
}
.wpuicon-faq {
    background-image: url("../../../../../phpbb/styles/prosilver/theme/images/icon_faq.gif");
}
.wpuicon-members {
    background-image: url("../../../../../phpbb/styles/prosilver/theme/images/icon_members.gif");
}
.wpuicon-register {
    background-image: url("../../../../../phpbb/styles/prosilver/theme/images/icon_register.gif");
}
.wpuicon-logout {
    background-image: url("../../../../../phpbb/styles/prosilver/theme/images/icon_logout.gif");
}

.wpufontsize {
	background-image: url("../../../../../phpbb/styles/prosilver/theme/images/icon_fontsize.gif");
	background-position: 0 -1px;
    width: 29px;
	background-repeat: no-repeat;
    display: block;
    height: 18px;
    overflow: hidden;
    text-align: left;
    text-indent: -5000px;
}

.wpuicon-home, .wpuicon-ucp, .wpuicon-faq, .wpuicon-members, .wpuicon-register, .wpuicon-logout   {
    background-position: 0 50%;
    background-repeat: no-repeat;
    padding: 1px 0 0 17px;
}

ul.wpulinklist li.wpurightside {

    float: right;
    margin-left: 5px;
    margin-right: 0;
    text-align: right;
}

ul.rightside {
	float: right;
    margin-left: 5px;
    margin-right: -5px;
    text-align: right;
}

ul.wpuleftside {
    float: left;
    margin-left: 0;
    margin-right: 5px;
    text-align: left;
}

ul.wpuleftside li {
    display: block;
    font-size: 1.1em;
    line-height: 2.2em;
    list-style-type: none;
    width: auto;
}